@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@500&family=Comfortaa&family=Kanit&display=swap');

main,
body,
html {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}

@media (min-width:1000px) {


    .contentGrid {
        display: grid;
        height: 100vw;
        width: 100vw;
        grid-template-columns: 5% 95%;
    }
}

@media (max-width:999px) {
    .contentGrid {
        display: grid;
        height: 100vw;
        width: 100vw;
        grid-template-columns: 10% 90%;
    }
}


#currentChannel {
    color: white;
    font-family: 'Comfortaa', cursive;
    font-size: 15px;
    font-weight: 600;
    float: left;
}

/* CSS FOR NAV BAR CONTROLS / ANIMATIONS */
#navControls {
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
}

#selectExtensionsButton {
    display: grid;
    grid-template-rows: 3px 3px 7px;
    grid-gap: 7px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 10px;
    transition-property: transform;
    transition-timing-function: ease-in-out;
    transition-duration: 1s;
    color: white;
}

.selectExtensions {
    color: white;
}

.selectButtonIcon {
    width: 30px;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    border-width: 2px;
    border-color: white;
    border-style: solid;
    border-radius: 10px;
    font-weight: 500;
}


.newState {
    transform: translateY(35px);
    transition-property: transform;
    transition-timing-function: ease-in-out;
    transition-duration: 1s;
}

#navBar {
    display: grid;
    grid-template-rows: 0px 30px 30px 50px;
    grid-gap: 20px;
    background-color: #282838;
    color: white;
}

.parent {
    display: flex;
    height: fit-content;
    margin-top: 10%;    transition-property: transform;
    transition-timing-function: ease-in-out;
    transition-duration: 1s;
}

.gear {
    position: relative;
    width: 30px;
    height: 30px;
    margin: auto;
    background: white;
    border-radius: 50%;
    animation-name: spin;
    animation-duration: 4s;
}

.gear .center {
    position: absolute;
    top:6px;
    left: 6px;
    z-index: 10;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background-color: #282838;
}

.tooth {
    position: absolute;
    top:-5px;
    left: 11px;
    z-index: 1;
    width: 8px;
    height: 40px;
    background: #fff;
}

.tooth:nth-child(2) {
    transform: rotate(45deg);
}

.tooth:nth-child(3) {
    transform: rotate(90deg);
}

.tooth:nth-child(4) {
    transform: rotate(135deg);
}


.rotateButton {
    transform: rotate(180deg);
    transition-duration: 1s;
}

.settingsBox {
    margin-top:1%;
    visibility: hidden;
    height: 100px;
    width: 1px;
    background-color: #282838;
    transition-duration: 1s;
    transition-property: width transform;
    z-index: 1;
    border-radius: 10px;
    color: white;
}

.settingsBoxOut {
    padding-left: 30px;
    padding-right: 10px;
    padding-top: 20px;
    padding-bottom: 30px;
    visibility: visible;
    background-color: #282838;
    width: 300px;
    opacity: 1;
    transition-property: width transform;
    transition-duration: 1s;
    transform: translateX(75px);
    position: fixed;
    z-index: 1;
    color: white;
}

.settingFade {
    visibility: hidden;
    opacity: 0;
    font-family: 'comfortaa', cursive;
    transition-property: opacity;
    transition-duration: 1s;
    transition-delay: 1s;
    font-weight: 500;
    transition-timing-function: ease-in-out;
    color: white;
}

.settingsVisible {
    visibility: visible;
    font-weight: 500;
    transition-delay: 1s;
    transition-property: opacity;
    transition-duration: 1s;
    transition-timing-function: ease-in-out;
    font-size: 1em;
    opacity: 1;
    color: white;
}

#handleInput {
    height: 20px;
    width: 70%;
    font-size: 10px;
    margin-bottom: 5px;
    border-radius: 5px;
    border-width: 0;
    color: #232324;
}

#uNameInput {
    font-size: 25px;
    font-weight: 400;
}

#newHandleToServer {
    background-color: white;
    padding-top: 2px;
    padding-bottom: 2px;
    color: #232324;
    border-radius: 10px;
    border-width: 0;
    height: 20%;
    width: 25%;
    float: right;
}

#lightDark {
    font-size: 0.75em;
    height: 20%;
    width: 25%;
    background-color: white;
    color: #232324;
    padding-top: 2px;
    padding-bottom: 2px;
    border-radius: 10px;
    border-width: 0;
    float: right;
}

.fadeIn {
    visibility: hidden;
    height: 0px;
    width: 100%;
    display: grid;
    grid-template-rows: 10px 10px 10px;
    grid-gap: 2px;
    opacity: 0;
    transition-property: opacity height;
    transition-timing-function: ease-in-out;
    text-align: center;
    font-family: 'Comfortaa', cursive;
    transition-duration: 0.5s;
    margin-left: auto;
    margin-right: auto;
    padding-right: 2px;
    font-weight: 600;
    color: white;
}

.buttonsVisible {
    visibility: visible;
    height: 35px;
    width: 100%;
    font-size: 1em;
    font-family: 'Comfortaa', cursive;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    color: white;
    opacity: 1;
    transition-property: opacity height;
    transition-timing-function: ease-in-out;
    transition-delay: 0.5s;
    font-weight: 600;
}

.button1 {
    transition-duration: 0.1s;
}

.button2 {
    transition-duration: 0.2s;
}

.button3 {
    transition-duration: 0.3s;
}

#content {
    background: #131313;
    background: -webkit-linear-gradient(top left, #131313, #27325D);
    background: -moz-linear-gradient(top left, #131313, #27325D);
    background: linear-gradient(to bottom right, #131313, #27325D);
}

/* CSS FOR GENERAL CONTENT */

.innerGrid {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto;
}


/* CSS FOR TIMER */


#display {
    display: flex;
    height: 92%;
    width: 100%;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2%;
    display: flex;
    color: beige;
    font-size: 12%;
    font-family: 'Chakra Petch', sans-serif;
    box-shadow: inset 0 0 10px #979798;
    background-color: #232324;
}

.setup {
    color: beige;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}

#manualCustom {
    background-color: #232324;
    border-radius: 10px;
    color: beige;
    font-family: 'comfortaa', cursive;
    width: 90%;
    margin-bottom: 3%;
    font-size: 1vh;
}

#manualSub {
    font-family: 'comfortaa', cursive;
    background-color: #232324;
    border-radius: 10px;
    color: beige;
    width: 95%;
    font-size: 1.5vh;
}

#colorLabel {
    color: beige;
    text-align: center;
    width: 90%;
}

#sliderLabel {
    color: beige;
    text-align: center;
    width: 90%;
}

#cps {
    background-color: #232324;
    border-radius: 10px;
    border-color: white;
    color: beige;
    text-align: center;
    width: 90%;
}

#coinModifier {
    outline: none;
    width: 90%;
}

#colorLabel {
    margin-top: 12%;
}

#colorPicker {
    margin-top: 10%;
    background-color: #232324;
    border-radius: 10px;
    width: 90%;
}

.addTimeButtons {
    width: 45%;
    font-size: 1.2vh;
    margin-bottom: 2%;
    font-family: 'Comfortaa', cursive;
    background-color: #232324;
    border-radius: 10px;
    color: beige;
}

#initTime {
    background-color: #3b3b3d;
    color: beige;
    border-radius: 10px;
    margin-top: 3%;
    width: 88%;
}

#timerControls {
    font-family: 'Comfortaa', cursive;

}

#time {
    display: flex;
    color: beige;
    font-size: 12vh;
    font-family: 'Chakra Petch', sans-serif;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
}

#startButton {
    color: beige;
    background-color: #232324;
    padding: 5px;
    border-style: solid;
    border-width: 2px;
    border-color: limegreen;
    border-radius: 10px;
    width: 45%;
    font-family: 'Comfortaa', cursive;
    text-align: center;
}

#pauseButton {
    color: beige;
    background-color: #232324;
    padding: 5px;
    border-style: solid;
    border-width: 2px;
    border-color: red;
    border-radius: 10px;
    width: 45%;
    text-align: center;
    font-family: 'Comfortaa', cursive;
}

#timerContainer {
    width: 95%;
    max-height: 50%;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    justify-content: center;
    grid-row-start: 2;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 3;
    margin-top: 2vh;
}

.buttonGrid {
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    display: grid;
    grid-template-columns: 30% 20% 20% 20%;
    grid-gap: 4%;
    width: 90%;
    border-radius: 10px;


}

.gridItem {
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 2px;
    border-width: 2px;
    border-radius: 10px;
    background-color: #232324;
    color: beige;
    height: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    font-family: 'Comfortaa', cursive;
    font-size: 1.5vh;
    box-shadow: inset 0 0 5px #979798;

}

/* CSS FOR CONTENT GRID */

.contentContainer {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 70vh 30vh;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 100%;
    max-height: 100%;
}

.contentSubGridContainer {
    margin-top: 2vh;
    max-height: 96%;
    width: 95%;
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 3;
    border-radius: 10px;
    background-color: #232324;
    margin-left: auto;
    margin-right: auto;

    overflow: hidden;
    box-shadow: inset 0 0 10px #979798;

}




/* CSS FOR CHAT BOX */

.chat_event_header {
    width: 100%;
    font-family: 'Comfortaa', cursive;
    font-size: 3vh;
    background-color: #3f3f55;
    color: white;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    max-height: 50px;
    padding-top: 6px;
    padding-bottom: 6px;
    justify-content: center;
    text-align: center;
}

#chatMessages img {
    border-radius: 5px;
}

#chatMessages {
    list-style-type: none;
    margin: 0;
    margin-left: 1%;
    margin-bottom: 1%;
    padding: 0;
    font-size: 1em;
    color: white;
    overflow-x: hidden;
    overflow-y: scroll;
    max-height: 95%;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: -1px 1px black, -1px 1px black, -1px 1px black, -1px 1px black;
}

li {
    margin: 10px 0;
    width: 90%;
    word-wrap: break-word;
}

#viewerCount {
    font-family: Arial, Helvetica, sans-serif;
    display: inline-flex;
    position: fixed;
    width: 30%;
    float: left;
    color: red;
    font-size: 2vh;
    font-weight: 600;
}

#chatColor {
    display: inline-flex;
    position:fixed;
    right: 5%; 
    height: fit-content;
    width: 10%;
    color: white;
    font-size: 2vh;
    border-radius: 10px;
    background-color: #22222f;
    border-style: none;
    padding-left:2px;
    padding-right: 2px;
}

.toggleColor {
    background-color: #00ff37;
}
/* CSS FOR EVENT BOX*/

#eventBox {
    max-height: 100%;
    width: 95%;
    border-radius: 10px;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 1;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2vh;
    box-shadow: inset 0 0 10px #979798;
    overflow-y: hidden;
    background-color: #232324;

}

#eventMessages {
    list-style-type: none;
    margin: 0;
    margin-left: 2%;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: -1px 1px black, -1px 1px black, -1px 1px black, -1px 1px black;
    font-size: 1.5em;
    color: white;
    overflow-x: hidden;
    overflow-y: scroll;
    max-height: 95%;

}

.statsGrid {
    display: grid;
    position: fixed;
    grid-template-columns: 15% 15%;
    grid-gap: 2%;
    width: 30%;
    height: fit-content;
    margin-left: 1%;
    justify-content: left;
    height: fit-content;
    color: white;
    margin-top: -2px;
}

.statsGridItem {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5vh;
    border-radius: 5px;
    box-shadow: inset 0 0 5px #9f9f9f;
    background-color: #22222f;
    height: 35%;
    width: 80%;
    padding: 5px;
}